services:
  backend:
    build:
      context: ./backend
    env_file:
      - ./.env  
    restart: always
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
    restart: always
    networks:
      - app-network

  nginx:
    build:
      context: ./nginx
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
      - frontend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
